# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.env/

# Environment variables
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-related files
.idea/
.vscode/

# Logs and debugging files
*.log
*.sqlite3